<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem 
    id="menu_hospital_root" 
    name="Hospital" 
    sequence="0" 
    web_icon="om_hospital,static/description/hospital-building.png"
  />

  <menuitem id="menu_patient_master" parent="menu_hospital_root" name="Patient Details" sequence="0" />


</odoo>